body {
	height: 100%;
	font-family: Verdana;
	background: #9cc;
}
::selection {
	background-color: #ffb7b7;
}
*:focus {
    outline: none;
}
body {
	height: 100%;
	display: flex;
	flex-direction: column;
}
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
#modal-content {
	margin: auto;
	background-color: #acc;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
    width: 100%;
    height: 200px;
}
#modal-dropbox {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-size: 14px;
}
#dropbox-button {
	border: 1px solid transparent;
	border-radius: 10px;
	margin: 0 auto;
	display: block;
	background-color: rgba(250, 250, 250, 0.0);
}
#dropbox-button:hover {
	background-color: rgba(250, 250, 250, 1.0);
	transition-duration: 0.5s;
}
.container {
	margin: 0 auto;
	max-width: 500px;
	width: 100%;
	height: 100%;
}
#listholder {
	box-shadow: 5px 5px 10px #666;
}
#nameholder {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	position: relative;
	box-shadow: inset 0 0 5px #666;
	background-color: #699;
}
#listname {
	color: #eee;
	margin-left: 10px;
	padding: 5px;
	min-width: 50px;
}
#listname.editing {
	background-color: #466;
	color: #66e;
}
#filename {
	color: #eee;
	opacity: 0.5;
	min-width: 50px;
	font-size: 0.8em;
	padding: 5px;
	border: 2px solid;
	border-radius: 5px;
	border-color: transparent;
	cursor: pointer;
}
#filename:hover {
	border-color: #eee;
}
#filename::after {
	color: #eee;
	opacity: 0.5;
	content: " ▼ ";
	font-size: 0.5em;
}
#trash {
	position: absolute;
	width: 100%;
	text-align: center;
	transition: opacity 0.5s;
	opacity: 0.0;
	pointer-events: none;
}
#trash.shown {
	opacity: 0.5;
	transition: opacity 0.5s;
}
#trash.shown.hover {
	color: #aa3333;
	opacity: 1.0;
	font-weight: bold;
	font-size: 2em;
}
#trash svg {
	width: 30px;
	opacity: 0.5;
}
#save {
	margin-left: auto;
	text-align: right;
	width: 30px;
	opacity: 0.2;
	cursor: pointer;
}
#save svg {
	width: 30px;
}
#save:hover {
	opacity: 0.9;
}
#save.edited {
	opacity: 0.7;
}
#settings {
	opacity: 0.5;
	font-size: 1.5em;
	padding: 5px;
}
#fileselector {
	display: none;
	position: absolute;
	max-width: 440px;
	width: 100%;
	padding: 20px 30px;
	background-color: #abc;
	color: #f9f9f9;
	z-index: 1;
	box-shadow: inset 0 0 5px #666;
}
#newfile {
	text-align: center;
	background-color: #999;
}

#files {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#files li.fileitem:nth-child(odd) {
	background: #8cc063;
}
#files li.fileitem:nth-child(even) {
	background: #97a8b9;
}
#files li {
	padding: 5px;
	border: 2px solid transparent;
	cursor: pointer;
}
#files li:hover {
	border-color: #666;
}
#activelist {
	padding: 0px;
	margin: 0px;
  	list-style-type: none;
  	display: inline-block;
  	white-space: nowrap;
  	width: 100%;
}

#activelist li {
    position: relative;
    padding: 0px;
	transition: 0.2s;
	height: 2.5em;
}
#activelist li:not(.editing) {
	cursor: pointer;
}

#activelist li div {
	line-height: 2.5em;
}
#activelist li.pqitem:nth-child(odd) {
	background: #eee;
}
#activelist li.pqitem:nth-child(even) {
	background: #f9f9f9;
}

#additem:hover {
	background: #aaa;
}
#additem {
	background: #ccc;
	text-align: center;
}

li.pqitem {
	border-width: 0px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.pqitem.complete div.pqtext {
	text-decoration: line-through;
}
.pqitem.selected {
	box-shadow: inset 0 0 0 2px;
	/*transparent borders cause gaps in the page when highlighting elements,
	but adding borders on selection reflows the page.
	this takes a bit more to render but is cleaner visually.*/
}
.pqitem.cancelled {
	background: #666 !important;
}
.pqitem.cancelled div.pqtext {
	text-decoration: line-through;
}
.pqitem.editing {
	cursor: text;
}
.pqitem.editing div.pqtext {
	opacity: 0.7;
	background: #ffb7b7;
}
#activelist li.pqitem:nth-child(n):hover {
	background: #999;
	/* trumps the nth-child selector above */
}

div.pqpriority {
	opacity: 0.5;
	width: 23px;
	padding: 0px 8px;
	text-align: center;
}
div.pqdate {
	opacity: 0.3;
	right: 0px;
	text-align: right;
	padding: 0px 8px;
	min-width: 20px;
}
div.pqtext {
	padding-right: 5px;
	padding-left: 2px;
	flex: 1;
}

div.edit {
	padding: 0px 4px 0px 4px;
	opacity: 0.0;
	transition: opacity 0.5s;
	height: 100%;
}
div.close {
	padding: 0px 4px 0px 4px;
	opacity: 0.0;
	transition: opacity 0.5s;
	height: 100%;
}
div.check {
	padding: 0px 4px 0px 4px;
	opacity: 0.0;
	transition: opacity 0.5s;
	height: 100%;
}
.pqitem.hover:not(.selected) div.close {
	opacity: 0.5;
	transition: opacity 0.5s;
}
.pqitem.hover:not(.selected) div.check {
	opacity: 0.5;
	transition: opacity 0.5s;
}
.pqitem.hover:not(.selected) div.edit {
	opacity: 0.5;
	transition: opacity 0.5s;
}
.pqitem.selected div.close {
	opacity: 0.5;
}
.pqitem.selected div.check {
	opacity: 0.5;
}
.pqitem.selected div.edit {
	opacity: 0.5;
}
.close:hover {
	background: #d77;
	opacity: 1.0;
	color: #ccc;
}
.check:hover {
	background: #77d;
	opacity: 1.0;
	color: #ccc;
}
.edit:hover {
	background: #7d7;
	opacity: 1.0;
	color: #ccc;
}
.pqtext {
	white-space: nowrap;
}
#hint {
	height: 2em;
	width: 100%;
	text-align: right;
	font-family: monospace;
	font-size: 0.8em;
	opacity: 0.0;
	font-style: italic;
	padding-top: 10px;
}

@keyframes fadeout {
	0% {opacity: 0.5;}
	50% {opacity: 0.5;}
	100% {opacity: 0.0;}
}
.pqitem.dragging {
	opacity: 0.5;
}
@keyframes blink {
    0% { color: #fcc; }
    50% { color: #f66; }
    100% { color: #fcc; }
}
li.highlight.incomplete div.pqpriority {
  animation: blink 0.2s step-start 0s 2;
}