::selection {
	background-color: #ffb7b7;
}
*:focus {
    outline: none;
}
body {
	font-family: Verdana;
	background: #9cc;
	height: 100%;
	display: flex;
	flex-direction: column;
}
hr {
	border: 0;
	height: 1px;
	background: #333;
}
p.indent {
	text-indent: 2em;
}
[contenteditable=true]:empty::before {
  content: attr(placeholder);
  opacity: 0.4;
}
#modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
#modal.hidden {
	display: none;
}
#modal-content {
	margin: 60px auto;
	background-color: #acc;
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
}
#modal-dropbox {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 14px;
}
#modal-dropbox.hidden {
	display: none;
}
#modal-about {
	height: 100%;
	font-size: 14px;
}
#modal-about.hidden {
	display: none;
}
#dropbox-button {
	border: 1px solid transparent;
	border-radius: 10px;
	margin: 0 auto;
	display: block;
	background-color: rgba(250, 250, 250, 0.0);
}
#dropbox-button:hover {
	background-color: rgba(250, 250, 250, 1.0);
	transition-duration: 0.5s;
}
.container {
	margin: 0 auto;
	max-width: 500px;
	width: 100%;
	height: 100%;
}
#listholder {
	box-shadow: 5px 5px 10px #666;
}
#titlebar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
	box-shadow: inset 0 0 5px #666;
	background-color: #699;
	padding: 5px;
}
#listname {
	color: #eee;
	padding: 5px;
}
#filemenu {
	margin-left: auto;
	position: relative;
	display: inline-block;
}
#filename {
	color: #eee;
	opacity: 0.5;
	font-size: 0.8em;
	padding: 5px;
	cursor: pointer;
}
#filename::after {
	color: #eee;
	opacity: 0.5;
	content: " ▼ ";
	font-size: 0.5em;
}
#filename:hover {
	opacity: 0.9;
}
#fileselector {
	display: none;
	position: absolute;
	min-width: 250px;
	right: 0px;
	padding: 30px 30px;
	background-color: #abc;
	color: #f9f9f9;
	z-index: 1;
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#filemenu:hover #fileselector {
	display: block;
}
#filemenu.open #fileselector {
	display: block;
}
#newfile {
	padding: 5px;
	background-color: #aaa;
	cursor: text;
}
#files {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#files li:nth-child(odd) {
	background: #8ca083;
}
#files li:nth-child(even) {
	background: #97a8c9;
}
#files li {
	padding: 5px;
	cursor: pointer;
}
#files li:nth-child(n):hover {
	background: #653965;
}
#files.editing {
	cursor: text;
}
li.fileitem {
	border-width: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
li.fileitem div.edit {
	margin-left: auto;
}
li.fileitem div.button {
	opacity: 0.0;
	visibility: visible;
	transition: opacity 0.5s;
}
li.fileitem:hover div.button {
	opacity: 0.5;
	visibility: visible;
	transition: opacity 0.5s;
}
div.hidden {
	display: none;
}
li.fileitem.selected {
	box-shadow: inset 0 0 0 2px #000;
}
li.fileitem.selected div.button {
	visibility: visible;
	opacity: 0.5;
}
#trash {
	position: absolute;
	width: 20%;
	margin: 0 40%;
	text-align: center;
	height: 50px;
	display: none;
}
#trash.shown {
	display: block;
}
#trash svg {
	fill: #aa3333;
	width: 30px;
	height: 50px;
	opacity: 0.0;
	transition: opacity 0.5s;
}
#trash.shown svg {
	opacity: 0.7;
}
#trash.shown.hover svg {
	opacity: 1.0;
}
#trash.hover svg {
	width: 50px;
}
.loader,
.loader:before,
.loader:after {
  animation: loader 1.8s infinite ease-in-out;
  color: #ffffff;
}
.loader {
	font-size: 2em;
  	margin: auto;
  	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  	content: '•';
}
.loader:before {
  	animation-delay: -0.32s;
}
#loading {
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	pointer-events: none;
}
#loading.hidden {
	display: none;
}
@keyframes loader {
  0%,
  80%,
  100% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.0;
  }
}

#save {
	text-align: right;
	width: 30px;
	cursor: pointer;
	visibility: hidden;
}
.spinner {
	margin: 5% auto;
	height: 15px;
	width: 15px;
	border: 3px solid #ccc;
	border-right-color: #555;
	border-top-color: #555;
	border-radius: 100%;
	animation: spin 1600ms infinite linear;
}
#save.shown {
	visibility: visible;
}
#save svg {
	opacity: 0.2;
	width: 30px;
}
#save.saving svg {
	display: none;
}
#save.saving .spinner {
	display: block;
}
#save:not(.saving) .spinner {
	display: none;
}
#save:hover svg {
	opacity: 0.9;
}
#save.edited svg {
	opacity: 0.7;
}
#settingsbutton {
	opacity: 0.5;
	font-size: 1.5em;
	line-height: 1.5em;
}
#settingsbutton:hover {
	opacity: 0.9;
}
#settings {
	display: none;
	position: absolute;
	min-width: 250px;
	right: 0px;
	padding: 30px 30px;
	background-color: #abc;
	color: #f9f9f9;
	z-index: 1;
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#settingsmenu:hover #settings {
	display: block;
}
#settings.open {
	display: block;
}
#settings ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#settings ul li:nth-child(odd) {
	background: #8ca083;
}
#settings ul li:nth-child(even) {
	background: #97a8c9;
}
#settings ul li {
	padding: 5px;
	cursor: pointer;
}
#settings ul li:nth-child(n):hover {
	background: #653965;
}

#activelist {
	padding: 0px;
	margin: 0px;
  	list-style-type: none;
  	display: inline-block;
  	width: 100%;
}

#activelist li {
    position: relative;
    padding: 0px;
	transition: 0.2s;
}
#activelist li:not(.editing) {
	cursor: pointer;
}

#activelist li {
	line-height: 2.5em;
}
#activelist li.pqitem:nth-child(odd) {
	background: #eee;
}
#activelist li.pqitem:nth-child(even) {
	background: #f9f9f9;
}

#additem:hover {
	background: #aaa;
}
#additem {
	background: #ccc;
	text-align: center;
}

li.pqitem {
	border-width: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.pqitem.complete div.text {
	text-decoration: line-through;
}
.pqitem.selected {
	box-shadow: inset 0 0 0 2px;
	/*transparent borders cause gaps in the page when highlighting elements,
	but adding borders on selection reflows the page.
	this takes a bit more to render but is cleaner visually.*/
}
.pqitem.editing {
	cursor: text;
}
.pqitem.editing div.text {
	opacity: 0.7;
	background: #ffb7b7;
}
#activelist li.pqitem:nth-child(n):hover {
	background: #999;
	/* trumps the nth-child selector above */
}
li.pqitem:first-of-type div.urgent {
	display: none;
}
div.pqpriority {
	opacity: 0.5;
	width: 23px;
	padding: 0px 8px;
	text-align: center;
}
div.pqdate {
	opacity: 0.3;
	right: 0px;
	text-align: right;
	padding: 0px 8px;
	min-width: 20px;
}
div.text {
	padding-right: 5px;
	padding-left: 2px;
	flex: 1;
	line-height: 1.5em;
}

div.button {
	padding: 0px 4px 0px 4px;
}
div.urgent {
	font-weight: bold;
}
.pqitem div.button {
	opacity: 0.0;
	visibility: hidden;
	transition: opacity 0.5s;
}
.pqitem:hover div.button {
	opacity: 0.5;
	visibility: visible;
	transition: opacity 0.5s;
}
.pqitem.selected div.button {
	visibility: visible;
	opacity: 0.5;
}
.check:hover {
	background: #77d;
	opacity: 1.0;
	color: #ccc;
}
.edit:hover,
.confirm:hover {
	background: #7d7;
	opacity: 1.0;
	color: #ccc;
}
.delete:hover,
.cancel:hover,
.urgent:hover,
.close:hover {
	background: #d77;
	opacity: 1.0;
	color: #ccc;
}
#hint {
	height: 2em;
	text-align: right;
	font-family: monospace;
	font-size: 0.8em;
	opacity: 0.0;
	font-style: italic;
	padding-top: 10px;
	margin-right: 20px;
}

@keyframes fadeout {
	0% {opacity: 0.5;}
	50% {opacity: 0.5;}
	100% {opacity: 0.0;}
}
.pqitem.dragging {
	opacity: 0.5;
}
@keyframes blink {
    0% { color: #fcc; }
    50% { color: #f66; }
    100% { color: #fcc; }
}
li.highlight.incomplete div.pqpriority {
  animation: blink 0.2s step-start 0s 2;
}


@-webkit-keyframes "spin" {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes "spin" {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
